---
import { ELFSIGHT_REVIEWS_ID } from "../consts";
---


   <script src="https://elfsightcdn.com/platform.js" async></script>
   <div class=`elfsight-app-${ELFSIGHT_REVIEWS_ID}` data-elfsight-app-lazy></div>
