---
import { GOOGLE_RATING, GOOGLE_REVIEWS } from "../consts";
---

<div class="bg-dark py-1 text-light text-center">
  Rated {GOOGLE_RATING}
  <i class="bi bi-star-fill text-warning"></i><i
    class="bi bi-star-fill text-warning"></i><i
    class="bi bi-star-fill text-warning"></i><i
    class="bi bi-star-fill text-warning"></i><i
    class="bi bi-star-fill text-warning"></i> on Google - {GOOGLE_REVIEWS} reviews
</div>
