---
const { cardTitle, cardContent, cardLink } = Astro.props;
---

<div class="border p-3 rounded">
  <h2>{cardTitle}</h2>
  <p>
    {cardContent}
  </p>
  <a href=`/services/${cardLink}` class="btn btn-primary text-light"
    >Learn more <i class="bi bi-arrow-right"></i></a
  >
</div>
