---
import SocialLinks from "./SocialLinks.astro";
---

<div class="bg-primary py-1 small">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center text-light">
      <span class="me-3"><i class="bi bi-clock-fill me-2"></i>Available 24/7</span>
      |<span class="ms-3"><i class="bi bi-person-vcard-fill me-2"></i>REACT Licensed</span>
    </div>
    <SocialLinks/>
  </div>
</div>
