---
import SocialLinks from "./SocialLinks.astro";
import { TOPBAR_ITEMS } from "../consts";
---

<div class="bg-primary py-1 small">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center text-light flex-wrap">
      {
        TOPBAR_ITEMS.map((item, index) => (
          <>
            {index > 0 && <span class="mx-2">|</span>}
            <span>
              <i class={`bi bi-${item.icon} me-2`} aria-hidden="true" />
              {item.label}
            </span>
          </>
        ))
      }
    </div>
    <SocialLinks />
  </div>
</div>
