---
import { PHONE, EMAIL } from "../consts.ts";
import SocialLinks from "./SocialLinks.astro";
import TopbarLink from "./TopbarLink.astro"
---

<div class="bg-dark py-1 small">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <TopbarLink
        href={`tel:${PHONE}`}
        text={PHONE}
        mobileText="Call"
        icon="telephone-fill"
      />
      <TopbarLink
        href={`mailto:${EMAIL}`}
        text={EMAIL}
        mobileText="Send Email"
        icon="envelope-fill" 
        <
        div
      />
    </div>
    <SocialLinks/>
  </div>
</div>
