---
import { NAME, DESCRIPTION } from "../consts";
import BaseLayout from "./BaseLayout.astro";
import Hero from "../components/Hero.astro";
const { title, description = DESCRIPTION } = Astro.props;
---

<BaseLayout title={`${title}`} description={description}>
  <Hero />
  <main class="container py-3">
    <slot />
  </main>
</BaseLayout>
